<style>
    .spygarMangento2-storeview-container {
        width: 100%;
        padding: 20px 0px 10px 5px;
    }
    .spygarMagento2Storeviews {
        display: flex;
        justify-content: space-between;
        position: relative;
        min-height: 400px;
    }
    .spygarMagento2-storeView-list {
        flex: 1;    
        margin-right: 15px;
    }
    .spygarMagento2Storeview-edit {
        width: 325px;
    }
    .spygarMagento2Storeview-edit-save {
        border-top: 1px #ccd1d8 solid;
        padding-top: 10px;
    }
    .spygarMagento2Storeview-listItem {
        line-height: 54px;
        height: 54px;
        border-bottom: 1px #E8EBEE solid;
        text-align: center;
    }
    .spygarMagento2Storeview-listItem--selected {
        background-color: #DEE9F4 !important;
    }
    .spygarMagento2Storeview-itemLabel {
        font-size: 13px;
        width: 200px;
        cursor: pointer;
        display: table-cell;
    }
    .spygarButton--apply {
        background-color: #67b373;
        border-color: #67b373;
        color: white;
        width: 50px;
        text-align: center;
        border-radius: 10px;
        cursor: pointer;
    }
</style>
<div class="spygarMagento2Storeviews">
    <div class="spygarMagento2-storeView-list">
        <div class="AknSubsection-title AknSubsection-title--glued tabsection-title"><span>Magento2 Store Views</span>
        </div>
        <table class="spygarMangento2-storeview-container">
            <thead>
                <tr>
                    <th class="spygarMagento2Storeview-item"><span class="">Store view</span></th>
                    <th class="spygarMagento2Storeview-item"><span class="">Channel</span></th>
                    <th class="spygarMagento2Storeview-item"><span class="">Locale</span></th>
                    <th class="spygarMagento2Storeview-item"><span class="">Currency</span></th>
                </tr>
            </thead>
        </table>
        <div class="spygarMangento2-storeview-container">
            <% _.each(stores, function(storeData) { %>
                <% storeView = _.findWhere(storeViewMapping, {store: storeData.code}) %>
                <div class="spygarMagento2Storeview-listItem 
                    <% if(activeStoreView.store == storeData.code) { %> spygarMagento2Storeview-listItem--selected <% } %>">
                    <span class="spygarMagento2Storeview-itemLabel" store-view="<%- storeData.code %>">
                        <%- storeData.name %> (<%- storeData.code %>)
                    </span>
                    <span class="spygarMagento2Storeview-itemLabel" store-view="<%- storeData.code %>">
                        <% if(!_.isUndefined(storeView)) { %> <%- storeView.channel %> <% } %>
                    </span>
                    <span class="spygarMagento2Storeview-itemLabel" store-view="<%- storeData.code %>">
                        <% if(!_.isUndefined(storeView)) { %> <%- storeView.locale %> <% } %>
                    </span>
                    <span class="spygarMagento2Storeview-itemLabel" store-view="<%- storeData.code %>">
                        <% if(!_.isUndefined(storeView)) { %> <%- storeView.currency %> <% } %>
                    </span>
                </div>
            <% }) %>
        </div>
    </div>
    <form class="AknSubsection spygarMagento2Storeview-edit">
        <div class="AknSubsection-title AknSubsection-title--glued tabsection-title"><span>Settings</span></div>
        <div class="spygarMagento2Storeview-edit-container">
            <div class="AknFieldContainer">
                <div class="AknFieldContainer-header">
                    <label class="AknFieldContainer-label control-label AknFieldContainer-label">Channel</label>
                </div>
                <div class="AknFieldContainer-inputContainer field-input">
                    <select name="channel" id="pim_enrich_entity_form_channel" 
                        class="select2 label-field AknSettingField spygarMagento2-storeview-channel" 
                        data-container="channel">
                        <% _.each(channels, function(channel) { %>
                            <% selectedChannel = %>
                            <option value="<%- channel.code %>"
                                <% if(activeDetails.channel == channel.code ) { %> selected="selected" <% } %>>
                                <%- 'undefined' !== typeof(channel.labels[currentLocale]) ? channel.labels[currentLocale] : attribute.code  %>
                            </option>
                        <% }); %>
                    </select>
                </div>
            </div>
            <div class="AknFieldContainer">
                <div class="AknFieldContainer-header">
                    <label class="AknFieldContainer-label control-label AknFieldContainer-label">Locale</label>
                </div>
                <div class="AknFieldContainer-inputContainer field-input">
                    <select name="locale" id="pim_enrich_entity_form_locale" 
                        class="select2 label-field AknSettingField spygarStoreview-locale-currency" 
                        data-container="locale">
                        <% _.each(defaultChannelAndValues.locales, function(localeData) { %>
                            <option value="<%- localeData.code %>"
                                <% if(activeDetails.locale == localeData.code ) { %> selected="selected" <% } %>>
                                <%- localeData.label  %>
                            </option>
                        <% }); %>
                    </select>
                </div>
            </div>
            <div class="AknFieldContainer">
                <div class="AknFieldContainer-header">
                    <label class="AknFieldContainer-label control-label AknFieldContainer-label">Currency</label>
                </div>
                <div class="AknFieldContainer-inputContainer field-input">
                    <select name="currency" id="pim_enrich_entity_form_currency" 
                        class="select2 label-field AknSettingField spygarStoreview-locale-currency" 
                        data-container="currency">
                        <% _.each(defaultChannelAndValues.currencies, function(currencyData) { %>
                            <option value="<%- currencyData %>" 
                                <% if(activeDetails.currency == currencyData ) { %> selected="selected" <% } %>>
                                <%- currencyData %>
                            </option>
                        <% }); %>
                    </select>
                </div>
            </div>
        </div>
        <div class="spygarMagento2Storeview-edit-save">
            <div class="Akndiv spygarButton--apply save">Save</button>
        </div>
    </form>
</div>